<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>ZyNotes</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, msg in messages %}
            <div class="flash {{ category }}">{{ msg }}</div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="head-ruban">
        <h1>ZyNotes</h1>
        <div class="head-button">
            <button class="register-button {{ logstate }}" id="register-button">S'inscrire</button>
            <button class="login-button {{logstate }}" id="login-button">Connexion</button>
            <form action="{{ url_for('user_logout') }}" method="post">
                <button class="logout-button {% if logstate != 'hidden' %}hidden{% endif %}" id="logout-button">Déconnexion</button>
            </form>
        </div>
    </div>
    <form class="register-form popup-form hidden" id="register-form" action="{{ url_for('user_register')}}" method="post">
        <h3>Inscription</h3>
        <label>Nom d'utilisateur :</label>
        <input type="text" id="register-username" name="register-username" required value="{{ register_username }}">
        <label>Mot de passe :</label>
        <input type="password" id="register-password" name="register-password" required>
        <div class="register-button-close">
            <button type="submit" class="register-button-valid" id="register-button-valid">Valider</button>
            <button type="button" class="register-button-cancel" id="register-button-cancel">Annuler</button>
        </div>
    </form>
    <form class="login-form popup-form hidden" id="login-form" action="{{ url_for('user_login')}}" method="post">
        <h3>Connexion</h3>
        <label>Nom d'utilisateur :</label>
        <input type="text" id="login-username" name="login-username" required value="{{ login_username }}">
        <label>Mot de passe :</label>
        <input type="password" id="login-password" name="login-password" required value="{{ login_password }}">
        <div class="login-button-close">
            <button type="submit" class="login-button-valid" id="login-button-valid">Valider</button>
            <button type="button" class="login-button-cancel" id="login-button-cancel">Annuler</button>
        </div>
    </form>
    <h1>Bienvenue, {{ username }} !</h1>
    <div class="task-manager">
        <h2>Ajouter une nouvelle tâche : </h2>
        <form method="POST" action="{{ url_for('add_task') }}">
            <input type="text" id="newTask" name="newTask" required>
            <button type="submit">Ajouter</button>
            <div class="task-properties">
                <input type="checkbox" id="urgent" name="urgent">
                <span>Important</span>
                <div class="cat-listbox">
                    <label class="cat-listbox-header" for="category">Catégorie</label>
                    <select name="category" id="category" class="cat-listbox-options">
                        <option value="aucun">---</option>
                        <option value="personnelle">Personnelle</option>
                        <option value="maison">Maison</option>
                        <option value="travail">Travail</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="task-manager">
        <h2>Liste des tâches : </h2>
        <div class="filter-section">
            <button class="filter-button" id="filter-button">
                <img src="{{ url_for('static', filename='filter-icon.png')}}" alt="Filtrer" class="filter-icon">
                <span>Filtrer</span>
            </button>
        </div>
        <form class="filter-popup popup-form hidden" id="filter-popup">
            <div class="filter-popup-group">
                <label><input type="radio" name="filter-main" id="filter-urgent" value="urgent">Important</label>
                <label><input type="radio" name="filter-main" id="filter-category" value="category">Catégorie</label>
                <label><input type="radio" name="filter-main" id="filter-done" value="done">Terminer</label>
            </div>
        
            <div class="filter-popup-group">
                <label><input type="radio" name="filter-order" id="filter-asc" value="asc">Croissant</label>
                <label><input type="radio" name="filter-order" id="filter-desc" value="desc">Décroissant</label>
            </div>
        
            <div class="filter-button-close">
                <button type="submit" class="filter-button-apply" id="filter-button-apply">Appliquer</button>
                <button type="button" class="filter-button-cancel" id="filter-button-cancel">Annuler</button>
            </div>
        </form>
        {% if tasks %}
        <ul class="task-list" id="task-list">
            {% for task in tasks %}
            <li class="task-item">
                <input type="checkbox" class="task-checkbox" onchange="toggleDone({{ loop.index0 }})" {% if task.done %}checked{% endif %}/>
                <div class="task-content">
                    <div class="task-text">
                        <label for="{{ loop.index }}">{{ task.text }}</label>
                        {% if task.urgent %}
                        <img src="{{ url_for('static', filename='urgent-icon.png')}}" alt="Priorities" class="prio-icon">
                        {% endif %}
                    </div>
                    {% if task.category != "aucun" %}
                    <div class="task-category">
                        <img src="{{ url_for('static', filename='category-icon.png')}}" alt="Category" class="cat-img">
                        <span>{{ task.category }}</span>
                    </div>
                    {% endif %}
                    <p class="task-date">Modifié le {{ task.date }}</p>
                </div>
                <form action="{{ url_for('delete_task', task_id=loop.index0)}}" method="post">
                    <button class="button-del" type="submit">Supprimer</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p align="center">Vous n'avez plus de tâches pour aujourd'hui</p>
        {% endif %}
    </div>
</body>
</html>
